@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #f7b97f, #87e7d1);
}

main {
    background-color: rgb(243, 197, 243);
    border-radius: 20px;
    box-shadow: 5px 5px 15px  rgba(216, 175, 140, 0.664);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #009c94;
    text-align: center;
    text-shadow: 1px 1px 0px #0F6466;
}

h2 {
    color: #be9548;
}

p {
    text-align: justify;
}